div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 20px;
  background-color: cadetblue;
  border: none;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

span {
  font-weight: bold;
}
